.checkout-header {
  width: 840px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  height: 104px;

  .checkout-title-section {
    font-family: "Inter";
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #363a43;
    .free-period {
      font-family: "Inter";
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
    .trial-details {
      font-family: "Inter";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
  .back-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .checkout-title {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    color: #363a43;
  }

  .language-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 24px;
    font-style: normal;
    font-weight: 540;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    color: #363a43;
  }
}
// .trial-banner {
//   background-color: #f0f0f0;
//   border-radius: 6px;
//   padding: 12px;
//   text-align: center;
//   margin-bottom: 24px;

//   .free-period {
//     display: block;
//     font-size: 1.1rem;
//     font-weight: 600;
//   }

//   .trial-details {
//     display: block;
//     font-size: 0.9rem;
//     color: #555;
//     margin-top: 4px;
//   }
// }
