.checkout-header {
  width: 840px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 104px;

  .checkout-title-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #363a43;
    .free-period {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
    .trial-details {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
  .back-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .checkout-title {
    font-size: 18px;
    font-weight: 600;
    color: #363a43;
  }
  .language-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #363a43;
    font-family: "Inter";
  }
}
