.checkout-header {
  width: 840px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  .back-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .checkout-title {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    color: #363a43;
  }

  .language-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 24px;
    font-style: normal;
    font-weight: 540;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    color: #363a43;
  }
}
